
header { 
    background-color: rgb(150, 100, 100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2cm 2cm;
    flex-wrap: wrap;
   
}

.titulo h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin: 0;

}
section {border: 5px solid black;padding: 1cm; }

footer{

    background-color: rgb(150, 103, 100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2cm 2cm;
    flex-wrap: wrap;
}


.infoProgramador{
    border: 2px solid black;  
    padding: 0.5cm 1cm;  

}
/* subrayado de titulo.*/
.subrayadoTitulo{text-decoration: underline;}

/* Formato subtitulos categoria 1. ( Ingredientes - Relleno) */
.subCat1{
    text-decoration: underline;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
/* Formato subtitulos categoria 2. (Masa clasica- Relleno) */
.subCat2{
    
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}


/* Alineacion de texto centrado. */
.alineacionCentrado{text-align: center;}

/* Aliniacion de texto derecho. */
.alineacionIzq{text-align: left;}

/* Aliniacion de texto justificado. */
.alineacionJustificado{text-align: justify;}


/* color de fondo de la pagina */
body {background-color: beige ;}

/* Formato de imagenes. */
img.tamanoMedio{
    width: 400px;
    height: 300px;
    
}

img.tamanoGrande{
    width: 800px;
    height: 500px;
}

img.iconos{
    width: 50px;
    height: 50px;

}

.container-boton{
    background-color: #41923a;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efectoBoton 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.boton{
    width: 80px;
    transition: ease 1s;
}

/* efecto de sombreado en el boton flotante */
@keyframes efectoBoton{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}